* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #7fd1b9;
    text-align: center;
  }
  .container {
    height: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
  }
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #e56399;
    background-color: #ece2d0;
  }
  
  #reset-btn {
    background-color: #7a6563;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
  }
  
  #new-btn {
    background-color: #7a6563;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
  }
  
  #msg {
    color: #cd6e32;
    font-size: 6vmin;
  }
  
  .msg-container {
    height: 20vmin;
  }
  .hide {
    display: none;
  }